body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'intellecta';
  src: url('./static/fonts/intellecta.ttf') format('truetype');
}